<IfModule mod_headers.c>
  SetEnvIf Origin "^http(s)?://(.+\.)?(getdotastats\.com|dota\.technology|dota2\.solutions|dota\.company|dota\.photography|dota2\.photography|localhost|176\.31\.182\.87)$" origin_is=$0
  Header always set Access-Control-Allow-Origin %{origin_is}e env=origin_is
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{HTTP_HOST} ^www\.getdotastats\.com$ [NC]
  RewriteRule ^(.*)$ http://getdotastats.com/$1 [R=301,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule .* custom_404.html [L]
</IfModule>

<Files ~ "connections">
    Require all denied
 </Files>